

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			My First (cheese) Website!
		</title>
	</head>
	<body>
		<h2>What is Cheese? </h2>

			<p>
				Basically cheese is really just... 
			</p>
			<p>
				Got it?
			</p>
		<h2>This is what cheese looks like </h2>

			<p style ="font-size: 50px; color: #28753d">
				🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀cheese <b><i>cheese </i></b>🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀
				<p>
					                        <p>
					                         🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀
					                        </p>
					                         <p>
					                    🧀🧀🧀         🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀

					                🧀🧀🧀🧀         🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀           
					             🧀🧀🧀🧀🧀🧀       🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀
					    	🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀       🧀🧀🧀🧀🧀🧀🧀🧀
					    🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀    🧀🧀🧀🧀🧀🧀🧀🧀🧀
					 🧀🧀    🧀🧀🧀🧀🧀🧀🧀🧀       🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀
				🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀    🧀🧀🧀🧀🧀🧀🧀🧀🧀       🧀🧀🧀🧀🧀
				</p>
			</p>
		<p>
		I like cheese. 😄🧀❤️
		</p>
		<p>
		Eat your cheese 👹
		</p>


	</body>
</html>
