

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			My First (cheese) Website!
		</title>
	</head>
	<body>
		<h2>What is Cheese? </h2>

			<p>
				Basically cheese is really just... 
			</p>
			<p>
				Got it?
			</p>

			<p>
				Need more info? 
			</p>
			<p>
				Go 
				<a href = "https://www.cheese.com/"> <b>HERE</b></a>
			</p> 
		<h2>This is what cheese looks like </h2>

			<p style ="font-size: 50px; color: #28753d">
				🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀cheese <b><i>cheese </i></b>🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀🧀
			</p>
	
		<p>
			I like cheese. 😄🧀❤️
		</p>
		<p>
			Let's rank some cheese... 
		<ol>
		<p>
			<li>Mozzarella: 
				<ul>
					<p>
					<il> Very soft</il>
					</p>
					<p>
					<il> Perfect for pizza 🍕</il>
					</p>
					<p>
					<il> Great melted and slightly burnt </il>
					</p>
				</ul>
			</li>
		</p>

		<p>
			<li>Gouda: 
				<ul>
					<p>
					<il> Very diverse</il>
					</p>
					<p>
					<il> Perfect for eating with pepperoni 🍕 and salami</il>
					<p>
					</p>
				</ul>
			</li>
		</p>
		<p>
			<li>Cheesecake: 
				<ul>
					<p>
					<il> Enough said</il>
					</p>
					<p>
					<il> 🧀🎂</il>
					</p>
					<p>
					<il> 😇 </il>
					</p>
				</ul>
			</li>
		</p>
		</ol>

		<p>
		Eat your cheese 👹
		</p>


	</body>
</html>
