#content {
width: 545px;
height: 355px;
background-color: lightgreen;
padding-left: 80px;
padding-right: 80px;
padding-top: 95px;
padding-bottom: 95px;
border: 25px lightblue solid;
margin-left: 157.5px;
margin-right: 157.5px;
margin-top: 57.5px;
margin-bottom:57.5px ;
}

.container {
width: 1070px;
height: 710px;
background-color: lightpink;
}
